<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include ("../partials/header.ejs") %>
    <div class='container'>
        <ul>
    <% for(animal of animals){ %>
        <a href="/animals/<%= animal._id %>"><li class="index-style"><%= animal.species %></li></a>
    <%}%>
    </ul>
    </div>
    <div class="api-test">  
        <h5>Select a dog breed below to see a random image!</h5>
        <div class="container">
    <form id="index-form">
        <label for="user-input">Select Breed:</label>
        <select name="user-input" id="user-input">
            <option value="mountain">Bernese Mountain Dog</option>
            <option value="retriever">Retriever</option>
            <option value="akita">Akita</option>
            <option value="malamute">Malamute</option>
            <option value="african">African</option>
        </select>
        <input type="submit" value="Enter">
        <img style="display:none; padding:5px"id='dog-photo' src="" alt="oops">
    </form>

    </div>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>
