<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body class="background-style">
    <div class="padding">


        <a href="/animals">
            <button>Index Page</button>
        </a>


    <div class="li-style">
        <h1><%= animal.species %></h1>
        <li>Average Life Expectancy: <%= animal.lifeExpectancy %> years</li>
        <li>Habitat Location: <%= animal.location %></li>
        <li>Is this animal extinct? <%= animal.extinct = animal.extinct === false ? "No":"Yes" %></li>
    </div>
    <a href="/animals/<%= animal._id %>/edit"><button>Edit <%= animal.species%></button></a>    
    <form action="/animals/<%= animal._id %>?_method=DELETE" method="POST">
    <input type="submit" style="background-color: #42b6de" value="DELETE <%= animal.species%>" />
    </form>
</div>
</body>
</html>